.Leagues-container {
width: 100%;
display: grid;
grid-template-columns: repeat(5,1fr);
justify-content: center;
text-align: center;

}
.leagues-div > img{
    width: 250px;

}
.leagues-div {
    margin: 20px 0;

}
.leagues-div:hover {
    transform: scale(1.1);

}